<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styleCadastro.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <title>Versari Cadastro</title>
</head>
<body>
    <header>
        
        <% if(message != "") { %>
            <section class="message message-<%=type%>">
                <p><%= message %></p>
                <span><i id="closeMessage" class="bi bi-x-circle-fill"></i></span>
            </section>
        <% } %>
         
    </header>
    <main class="main_page">
        <h1 class="main_title">Cadastrar Síndico</h1>
        <form id="form" action="/criarSindico" method="post">
            <div>
                <label >Nome:</label>
                <input id="inputs" type="text" name="nome" placeholder="Digite o nome do síndico">
            </div>
            <div>
                <label >Telefone:</label>
                <input id="inputs" type="text" name="telefone" placeholder="Ex:5583999999999">
            </div>
            <div>
                <label >Condomínio:</label>
                <input id="inputs" type="text" name="condominio" placeholder="Digite o condomínio">
            </div>
            <div>
                <button id="btnEnviar" class="btnProximo" type="submit">Cadastrar</button>
            </div>
        </form>
        
        <p>Caso o síndico a ser cadastrado seja responsável por mais de um condomínio, ao preencher o campo de condomínios, separe por vírgula os mesmos.</p>
        
        
    </main>
    <script src="script.js"></script>
</body>
</html>